
<%= render 'shared/dashboard_header' %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Reinventing CV</h1>
    <p class="lead">Build your cv and backed it up with projects that you built .</p>
  </div>
</div>

<div class="col-md-6 mx-auto">
  <div class="card" id="search-card">
    <div class="card-block mx-auto my-auto">
      <form class="form-inline">
        <input class="form-control mr-2" type="text" placeholder="Search CV">
        <button class="btn btn-primary ml-2 my-sm-0" type="submit" id="search-btn">Search</button>
      </form>
    </div>
  </div>
</div>



<div class="row">
  <% @users.each do |user| %>
        <div class="col-md-3">
          <div class="card mr-3 ml-4 my-2" style="width: 20rem;">
            <%= link_to image_tag("/assets/profile_image",class: "card-img-top"), user_path(user) %>
            <div class="card-block" id="index-user-card-block">

              <h4 class="card-title mx-2 mt-2"> <%= user.first_name %><%= user.last_name %> CV</h4>
              <p class="card-text mx-2"><%= user.mission%></p>
            </div>
          </div>
        </div>
  <% end %>
</div>