<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <legend class=" mt-5 ml-3">Pages</legend>
    <li><h5> <%= link_to "Projects", experiences_path, class: "Dashboard-sidebar" %></h5></li>
    <li><h5> <%= link_to "CV", experiences_path, class: "Dashboard-sidebar" %></h5></li>

    <legend class=" mt-3 ml-3">System Values</legend>

    <li><h5> <%= link_to "Experiences", experiences_path, class: "Dashboard-sidebar" %></h5></li>
    <li><h5> <%= link_to "Skills", experiences_path, class: "Dashboard-sidebar" %></h5></li>

    <legend class=" mt-3 ml-3">Manage</legend>

    <li><h5> <%= link_to "Users", experiences_path, class: "Dashboard-sidebar" %></h5></li>
    <li><h5> <%= link_to "Skills", experiences_path, class: "Dashboard-sidebar" %></h5></li>
  </ul>
</div>