<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <legend class=" mt-5 ml-3">Track Record</legend>
    <li><h5> <%= link_to "Projects", experience_categories_path, class: "Dashboard-sidebar" %></h5></li>
    <li><h5> <%= link_to "Experience", experiences_path, class: "Dashboard-sidebar" %></h5></li>

    <legend class=" mt-3 ml-3">System Values</legend>

    <li><h5> <%= link_to "Categories", experience_categories_path, class: "Dashboard-sidebar" %></h5></li>
    <li><h5> <%= link_to "Skills", experience_categories_path, class: "Dashboard-sidebar" %></h5></li>

    <legend class=" mt-3 ml-3">Manage</legend>

    <li><h5> <%= link_to "Users", experience_categories_path, class: "Dashboard-sidebar" %></h5></li>
    <li><h5> <%= link_to "Skills", experience_categories_path, class: "Dashboard-sidebar" %></h5></li>
  </ul>
</div>