<tr id="experience_<%=experience.id%>">
  <th scope="row"><%= experience.id %></th>
  <td><%= experience.name %></td>
  <td>
    <p>
      <%= link_to " Edit", edit_experience_path(experience), remote:true, class:"fa fa-pencil-square-o" %> |
      <%= link_to ' Delete', experience,:method => :delete, data: {confirm: "Delete: #{experience.name}"}, class: 'fa fa-trash-o' %>
    </p>
  </td>
</tr>

