
<div id="content">
  <%= render 'shared/navbar' %>


  <% @experiences.each_with_index do |experience,eindex| %>
      <div class="row mt-5">
        <div class="col-md-1"></div>

        <div class="col-md-10">
          <div id="accordion" role="tablist">
            <div class="card">
              <div class="card-title">
                <legend class="mx-2 mt-2">- <%= experience.name %> -</legend>
              </div>
              <% if !experience.jobs.nil? %>
                  <% experience.jobs.each_with_index do |job,jindex|%>
                      <div class="card-header" role="tab" id="headingOne">
                        <a data-toggle="collapse" href="#collapse<%=eindex.to_s%><%=jindex.to_s%>" aria-expanded="true" aria-controls="collapseOne">
                          <div class="row" id="position-title">

                            <h5 class="col-md-8"><%= job.name%> | <%=job.position %></h5>
                            <h5 class="ml-auto mr-1"><%= job.start_date %> - <%= job.end_date %></h5>
                          </div>
                        </a>
                      </div>
                      <div id="collapse<%=eindex.to_s%><%=jindex.to_s%>" class="collapse hide" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                          <p><%= job.description %></p>
                        </div>
                      </div>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>


      </div>
  <% end %>


</div>

</div>

